form.formtastic fieldset ol li {
  display: block;
}
form.formtastic fieldset {
  display: block;
}
form.formtastic fieldset ol li label {
  float: none;
}
form.formtastic fieldset ol li.boolean label {
  padding-left: 0;
}
form.formtastic fieldset ol li.hidden {
  margin: 0;
  padding: 0;
}
form.formtastic li.hidden {
  display: none;
}
form.formtastic fieldset ol li p.inline-hints {
  color:#777777;
  margin:8px 0 0 20px;
}  
form.formtastic fieldset ol li p.inline-errors {
  margin:8px 0 0 20px;
}
